img{
    width: 40rem;
    height: 25rem;
}
@font-face {
  font-family: 'Artega';
  font-style: normal;
  font-weight: lighter;
  src: local('Artega'), url('./assets/Artega.otf') format('otf');

}

.texto{
  width: 35rem;
  height: 8rem;
}

.container-lg{
  width:70%;
  object-fit:contain ;
 
}

body{
  background-image: radial-gradient(rgb(16, 7, 31), rgb(212, 148, 241));
    margin: 0;
    margin-bottom: 2rem;
    font-family: 'Artega';
    font-stretch: expanded;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
